<ion-header>
  <ion-toolbar>
    

    <ion-title>
      Listado de Medicamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
      <ion-title size="large">Medicamentos</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-list line="none">

      <ion-item-sliding *ngFor="let medicamento of medicamentos">
        <ion-item-options side="start">
          <ion-item-option color="warning" [routerLink]="['/medicamentos',medicamento.key]"><ion-icon style="font-size:30px" name="create-outline"></ion-icon></ion-item-option>
        </ion-item-options>
        
        <ion-item>
          <ion-row style="width: 100%;" >
            <ion-col size="2">
              <ion-avatar>
                <ion-img [src]="medicamento.image"></ion-img>
                <!-- <ion-img src="https://i.pinimg.com/236x/e0/b7/e8/e0b7e895361da676c3d709170508cc39.jpg"></ion-img> -->
              </ion-avatar>
            </ion-col>
  
            <ion-col size="8">
              <ion-label style="margin-left: 16px;" class="ion-text-wrap">
                <ion-text color="primary">
                  <h3><b>{{medicamento.nombre}}</b></h3>
                </ion-text>
                <p>Expira: {{medicamento.expire}}</p>
                <p>Lote:{{medicamento.lote}} | Cantidad: {{medicamento.stock}}</p>
              </ion-label>
            </ion-col>
          </ion-row>
          <!-- <ion-icon style="font-size:30px" name="information-circle-outline"></ion-icon> -->
          
        </ion-item>
        

        <ion-item-options side="end">                                              
          <ion-item-option color="danger" (click)="deleteConfirm(medicamento.key)"><ion-icon style="font-size:30px" name="eye-off-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/medicamentos']" color="danger" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>


  

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
