<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro de Medicamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item> 

  <ion-item>
    <ion-label position="floating">Stock</ion-label>
    <ion-input [(ngModel)]="stock"></ion-input>
  </ion-item> 

  <ion-item>
    <ion-label>Fecha Vencimiento</ion-label>
    <ion-datetime [(ngModel)]="expire" displayFormat="DD MM YY" placeholder="Select Date" max="2200-08-23"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Lote</ion-label>
    <ion-input [(ngModel)]="lote"></ion-input>
  </ion-item> 


  <ion-item>
    <ion-button *ngIf="seniorId==undefined" (click)="save()" color="danger">Guardar</ion-button>
    </ion-item>
  

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
