<ion-header>
  <ion-toolbar >
     <ion-back-button slot="start"></ion-back-button>
    <ion-title >
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngFor="let senior of seniors">
  <ng-container >
    <div class="ion-center">
      
      <!-- <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>  -->
      <h3>Nombre: {{senior.name}}</h3>
    
        <!-- <ion-img src="https://i.pinimg.com/236x/e0/b7/e8/e0b7e895361da676c3d709170508cc39.jpg"></ion-img> -->

    </div>
  </ng-container>
</ion-content>
