<ion-header *ngFor="let senior of seniors">
  <ion-toolbar >
     <ion-back-button slot="start"></ion-back-button>
    <ion-title >
      {{senior.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngFor="let senior of seniors">
  <ng-container >
    <div class="ion-center">

      <ion-img [src]="senior.image"></ion-img>

      
      <!-- <ion-card>
        <ion-card-header>
          <ion-img [src]="senior.image"></ion-img>
          <ion-card-title>{{senior.number}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
       -->
      
    
       

    </div>
  </ng-container>
</ion-content>
