<ion-header *ngFor="let senior of seniors">
  <ion-toolbar >
     <ion-back-button slot="start"></ion-back-button>
    <ion-title >
      {{senior.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let senior of seniors">
  <ng-container >
    <div>
        <ion-card>
          <ion-item>
          <ion-card-header>
            <!-- <ion-card-subtitle>{{senior.name}}</ion-card-subtitle> -->
            <ion-img [src]="senior.image"></ion-img>
            <hr color="#FF0000" />
            <b> 
              <ion-card-title style="text-align:center; color:brown;">{{senior.name}} | {{senior.number}}</ion-card-title>
            </b>
          </ion-card-header>
        </ion-item>
        
        <ion-item>
          <ion-card-content style="text-align: justify;">
              {{senior.bio}}
              <br>
              <b>Sangre: {{senior.gsng}} | Edad: {{senior.edad}}</b>
          </ion-card-content>
        </ion-item>
        </ion-card>
        
        <h4 style="text-align:center; background-color: brown; color:azure;"> Medicamentos</h4>
        <ion-item>

          <ion-chip>
            <ion-icon name="medkit-outline" color="danger"></ion-icon>
            <ion-label>{{senior.medicamento}} | {{senior.cantidad}}</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>

          <ion-buttons slot="end">
            <ion-button>
              <label>
              <ion-icon color="danger" (click)="openModal()" slot="icon-only" name="add-circle-outline"></ion-icon>
              </label>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <!-- <h4 style="text-align:center; background-color: brown; color:azure;"> Enfermedades</h4> -->
        
    </div>
  </ng-container>
</ion-content>